body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.top-banner{
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
section{
    height: 650px;
    padding-bottom: 130px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 1.5%;
}
span{
    color: #ff4891;
    font-size: 50px;
}
h1{
    margin-bottom: 30px;
}
h1:first-child{
    margin-top: 200px;
}
p{
    padding: 10px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,#ff4891,#f00e68 );
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    margin-top: 25px;
    display: inline-block;
}
img{
    width: 100%;
}
.center-benner{
    background-image: url(../images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    height: 50%;
    border-radius: 5px;
}
.experience-area{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 0;
}
.full{
    font-size: 30px;
    text-align: center;
}
.name-highlight{
    font-size: 20px;
}
#full-stack{
    border-left:7px solid;
    border-image: linear-gradient(180deg,#ff1a73,#ad0243);
    border-image-slice: 1;
}
#single-stack{
    border-left:7px solid;
    border-image: linear-gradient(180deg,#ff1a73,#c4054e);
    border-image-slice: 1;
}
.my-portfolio{
    margin: 0;
    background-image: url(../images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
}
.picture{
    margin: 0 5%;
}
.project{
    width: 28%;
    margin-left: 3.5%;
}
h2{
    font-size: 50px;
    margin: 90px 0;
    text-align: center;
}
h3{
    margin-top: 0;
    font-size: 50px;
    text-align: center;
}
.contact-section{
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 0;
}
.highlight{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.font-work{
    font-size: 18px;
    color: rgb(51, 40, 40);
    margin-bottom: 55px;
}
h4{
    font-size: 25px;
}
.shadow{
    color: rgba(32, 31, 31, 0.5);
    font-size: 15px;
}
.box{
    background-image: linear-gradient(180deg, #ff1d75,#ff4891);
    padding: 30px;
    border-radius: 10px;
}
.alias{
    margin-top: 0;
    font-size: 17px;
    color: #ffffff;
}
.contact-mail{
    font-size: 30px;
    color:#fff;
}
footer{
    margin-bottom: 25px;
    text-align: center;
}






